body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 60px;
}

.skipColor {
    color: #F1C40F;
}

.subHead1 {
    color: #828282
}

section {
    display: flex;
    margin-bottom: 100px;
}

.halfWidth {
    width: 50%;
    padding-left: 5%;
}

/* I can change the width of this image any time */
.halfWidth img {
    width: 100%;
}

.linkButton {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 15px 40px;
    color: white;
    font-weight: 700;
    border-radius: 40px;
}


/* About Me Section Start from Here */
.aboutMe {
    background-image: url(images/shapes/img-bg1.png);
    background-repeat: no-repeat;
    width: 100%;
}

.bigImage {
    padding-left: 120px;
}