body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 60px;
}

.skipColor {
    color: #F1C40F;
}

.subHead1 {
    color: #828282
}

section {
    display: flex;
    margin-bottom: 100px;
}

.halfWidth {
    width: 50%;
    padding-left: 5%;
}

/* I can change the width of this image any time */
.halfWidth img {
    width: 100%;
}

.linkButton {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
    padding: 15px 40px;
    color: white;
    font-weight: 700;
    border-radius: 100px;
}


/* About Me Section Start from Here */
.aboutMe {
    background-image: url(images/shapes/img-bg1.png);
    background-repeat: no-repeat;
    width: 100%;
    margin: 0;
    margin-bottom: 80px;
}

.bigImage {
    padding-left: 200px;
}

/* ************************ */

.recipies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 300px;

    width: 706px;
    height: 159px;
    left: 367px;
}

/* **************************** */

